# © Copyright TODOS OS DIREITOS RESERVADOS POR LOOCK UNDERWOOD  
#!/usr/bin/env python 
# -*- coding: utf-8 -*-
import webbrowser
import time
import os

print('''


 ██████╗ ██╗      ██████╗  ██████╗               ██╗   ██╗██╗███████╗██╗    ██╗    
 ██╔══██╗██║     ██╔═══██╗██╔════╝               ██║   ██║██║██╔════╝██║    ██║    
 ██████╔╝██║     ██║   ██║██║  ███╗    █████╗    ██║   ██║██║█████╗  ██║ █╗ ██║    
 ██╔══██╗██║     ██║   ██║██║   ██║    ╚════╝    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    
 ██████╔╝███████╗╚██████╔╝╚██████╔╝               ╚████╔╝ ██║███████╗╚███╔███╔╝    
 ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝                 ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝    
     
                                                                                                                                        

 :================================================================:
 :  -  SCRIPT DE ESTUDO BÁSICO EM PYTHON // BY: Loock Underwood   :
 :================================================================:
 :  - TAMO JUNTO ° FELIPE MANDIOCA, ° DERICK e ° PEDRO BASTÃO.    :
 :================================================================:                                                              
 :  - GRUPO : https://www.facebook.com/groups/fsocietybrasil/     :
 :================================================================:                                                             
                                                                 ''')


#=================================================================================#
print('\n #============================================================================================#')
#=================================================================================#

print("\n\n [!] Olá! Vamos dar início ao processo?\n")

print('\n #============================================================================================#')
#=================================================================================#

url = input("\n [!] Coloque a Url do Blog: https://")

print('\n #============================================================================================#')
#=================================================================================#

refresh = input("\n [!] Coloque o tempo de refresh em segundos: ")

print('\n #============================================================================================#')
#=================================================================================#

brow = input("\n [!] Coloque o nome do seu Navegador (Respeitando A - a): ")

print('\n #============================================================================================#')

vezes = int(input("\n [!] Coloque o Número de Views que desejas ganhar: "))

print('\n #============================================================================================#')

#=================================================================================#

print('\n [!] ESPERE 5 SEGUNDOS POR FAVOR.')

print('\n--------------------------------------')

def openurl():
        print("\n [!]!Views Adquiridas! ")
        webbrowser.open(url)
time.sleep(5)
		

for i in range(vezes):
        openurl()

print('\n#========================================================================#')

print('''
KKK     KKK   III    SSSSSS     SSSSSS
KKK    KKK    III   SSSSSSS    SSSSSSS
KKK  KKKK     III   SSS        SSS
KKKKKK        III   SSSSSS     SSSSSS
KKKKKK        III   SSSSSSS    SSSSSSS
KKK  KKKK     III       SSS        SSS
KKK    KKK    III   SSSSSSS    SSSSSSS
KKK     KKK   III   SSSSSSS    SSSSSSS''')


time.sleep(11)
    


      
